* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Karla-Rg";
  src: url(./../fonts/Karla-Regular.ttf);
}

@font-face {
  font-family: "Karla-Bd";
  src: url(./../fonts/Karla-Bold.ttf);
}

@font-face {
  font-family: "Karla-It";
  src: url(./../fonts/Karla-Italic.ttf);
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  font-family: "Karla-Bd";
  padding: 40px;
}

.logo {
  font-size: 20px;
  text-decoration: none;
  color: #323a45;
}

.nav-list {
  display: flex;
  gap: 52px;
  list-style-type: none;
}

.nav-list li a {
  font-size: 10px;
  text-decoration: none;
  color: #323a45;
  text-transform: uppercase;
}

main {
  padding: 0 40px 40px 40px;
  font-family: "Karla-Rg";
}

article a img {
  width: 100%;
  transition-duration: 0.5s;
}

article a img:hover {
  opacity: 0.5;
}

.section-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 20px;
}

article:nth-of-type(1) {
  grid-column: 1/4;
}

.product-info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px 0;
}

h2 {
  font-size: 16px;
  line-height: 1.5;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #848484;
}

h5 {
  font-family: "Karla-Rg";
  font-size: 10px;
  color: #848484;
  padding-bottom: 4px;
}

footer {
  padding: 0 40px;
  font-family: "Karla-Rg";
}

.footer-info-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  gap: 40px 20px;
  padding-bottom: 48px;
  padding-top: 8px;
}

h3 {
  font-family: "Karla-Bd";
  font-size: 13px;
  padding-bottom: 40px;
}

.text-footer {
  font-family: "Karla-Rg";
  font-size: 12px;
  color: black;
}
.text-footer strong {
  font-family: "Karla-Bd";
}

footer a {
  text-decoration: none;
  color: #323a45;
}

span {
  font-family: "Karla-It";
  font-size: 12px;
}
